#computercode{
    color: rgb(3, 111, 30);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: black;

}

#sample{
    color: chocolate;
    font-size: 20px;
    background-color: blue;
}